name: build-workflow
# This workflow is triggered on pushes to the repository.
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    name: build-job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.9.0"
      - uses: FranzDiebold/github-env-vars-action@v1.2.1
      - name: build-image
        run: |
          export TESTCONTAINERS_RYUK_DISABLED=true
          make build-test-ci
          make build-image TAG=v$GITHUB_SHA_SHORT
      - name: load-image
        run: |
          kind load docker-image vmware/kube-fluentd-operator:v$GITHUB_SHA_SHORT
      - name: install-log-router
        run: |
          cd charts
          PATH=$PATH:/tmp/bin helm upgrade --install --set image.tag=v$GITHUB_SHA_SHORT --set rbac.create=true --wait --timeout 60s  log-router ./log-router
