name: build-workflow
# This workflow is triggered on pushes to the repository.
on: [push, pull_request]

jobs:
  build:
    name: build-job
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: engineerd/setup-kind@v0.5.0
        with:
          version: "v0.9.0"
      - uses: FranzDiebold/github-env-vars-action@v1.2.1
      - name: install-helm
        run: |
          wget https://storage.googleapis.com/kubernetes-helm/helm-v2.17.0-linux-amd64.tar.gz -O /tmp/helm-v2.17.0-linux-amd64.tar.gz
          mkdir /tmp/bin -p; tar xzf /tmp/helm-v2.17.0-linux-amd64.tar.gz -C /tmp/bin --strip-components=1;
          PATH=/tmp/bin:$PATH helm init --client-only
      - name: build-base-image
        run: |
          cd base-image && make
      - name: build-config-reloader
        run: |
          cd config-reloader && make build-image TAG=v$GITHUB_SHA_SHORT
      - name: load-image
        run: |
          kind load docker-image vmware/kube-fluentd-operator:v$GITHUB_SHA_SHORT
      - name: install-log-router
        run: |
          cd charts
          PATH=$PATH:/tmp/bin helm upgrade --install --set image.tag=vmware/kube-fluentd-operator:v$GITHUB_SHA_SHORT --wait --timeout 60s  log-router ./log-router